body {
    background-color: #181818;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: #282828;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 80%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    background-color: #383838;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    width: 100%;
    margin-right: 10px;
}

.asignar input {
    background-color: #383838;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    width: 100%;
    margin-right: 10px;
    margin-top: 20px;
}

.search-bar button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    cursor: pointer;
}

.asignar button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    cursor: pointer;
    margin-top:20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 8px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #383838;
}

th {
    background-color: #383838;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
}

.footer {
    text-align: center;
    margin-top: 30px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

.social-icons a:hover {
    text-decoration: underline;
}